Repository nomic-ai/gpt4all, pull requests merged in 2023-08, with the labels that each got.

#1296 Add LLaMA2 7B model to model.json.
  gpt4all-chat/metadata/models.json
Labels: models

#1287 feat(typescript)/dynamic template
  gpt4all-bindings/python/docs/gpt4all_typescript.md
  gpt4all-bindings/typescript/.yarn/releases/yarn-3.6.1.cjs
  gpt4all-bindings/typescript/.yarnrc.yml
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/scripts/build_unix.sh
  gpt4all-bindings/typescript/spec/chat.mjs
  gpt4all-bindings/typescript/src/config.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/test/gpt4all.test.js
  gpt4all-bindings/typescript/test/models.json
  gpt4all-bindings/typescript/yarn.lock
Labels: typescript

#1323 Fix Windows unable to load models on older Windows builds
  gpt4all-backend/llmodel.cpp
Labels: bug, backend

#1333 Update gpt4all_faq.md
  gpt4all-bindings/python/docs/gpt4all_faq.md
Labels: documentation
