Repository nomic-ai/gpt4all, pull requests merged in 2023-10, with the labels that each got.

#1478 chat: clearer CPU fallback messages
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-chat/chatllm.cpp
Labels: chat

#1487 cmake: install the GPT-J plugin
  gpt4all-chat/CMakeLists.txt
Labels: chat

#1486 chatllm: do not write uninitialized data to stream
  gpt4all-chat/chatllm.cpp
Labels: chat

#1462 python: support Path in GPT4All.__init__
  gpt4all-bindings/python/gpt4all/gpt4all.py
Labels: bindings

#1499 llmodel: print an error if the CPU does not support AVX
  gpt4all-backend/llmodel.cpp
Labels: backend

#1502 python: always check status code of HTTP responses
  gpt4all-bindings/python/gpt4all/gpt4all.py
Labels: python-bindings

#1505 python: replace deprecated pkg_resources with importlib
  gpt4all-bindings/cli/app.py
  gpt4all-bindings/python/gpt4all/pyllmodel.py
Labels: python-bindings

#1512 convert scripts: fix AutoConfig typo
  gpt4all-backend/scripts/convert_bert_hf_to_gguf.py
  gpt4all-backend/scripts/convert_replit_v1_hf_to_gguf.py
Labels: backend

#1524 docs: improve build_and_run.md
  gpt4all-chat/build_and_run.md
Labels: documentation

#1525 docs: clarify Vulkan dependency in build instructions for bindings
  gpt4all-bindings/csharp/README.md
  gpt4all-bindings/python/README.md
  gpt4all-bindings/python/docs/gpt4all_typescript.md
  gpt4all-bindings/typescript/README.md
  gpt4all-chat/build_and_run.md
Labels: documentation

#1529 python: prepare version 2.0.0rc1
  .circleci/continue_config.yml
  gpt4all-backend/llama.cpp.cmake
  gpt4all-bindings/csharp/README.md
  gpt4all-bindings/csharp/build_win-mingw.ps1
  gpt4all-bindings/python/setup.py
  gpt4all-bindings/typescript/scripts/build_mingw.ps1
Labels: python-bindings

#1535 python: connection resume and MSVC support
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/pyllmodel.py
Labels: python-bindings

#1536 README: remove star history
  README.md
Labels: documentation

#1532 Removed extraneous and shortened text in accessibility name and description fields
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/ChatDrawer.qml
  gpt4all-chat/qml/LocalDocsSettings.qml
  gpt4all-chat/qml/ModelDownloaderDialog.qml
  gpt4all-chat/qml/MySettingsTab.qml
  gpt4all-chat/qml/NetworkDialog.qml
  gpt4all-chat/qml/SettingsDialog.qml
  gpt4all-chat/qml/StartupDialog.qml
Labels: chat

#1548 chat: fix syntax error in main.qml
  gpt4all-chat/main.qml
Labels: chat

#1547 bindings: replace references to GGMLv3 models with GGUF
  gpt4all-bindings/cli/README.md
  gpt4all-bindings/python/README.md
  gpt4all-bindings/python/docs/gpt4all_cli.md
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/docs/index.md
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
  gpt4all-bindings/typescript/spec/chat.mjs
Labels: documentation, bindings

#1559 python: change default extension to .gguf
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Labels: python-bindings

#1561 README: add clear note about new GGUF format
  README.md
Labels: documentation

#1564 app.py: change default model to Mistral Instruct
  gpt4all-bindings/cli/app.py
Labels: python-bindings

#1563 models2.json: add tokenizer merges to mpt-7b-chat model
  gpt4all-chat/metadata/models2.json
Labels: models.json
