Repository nomic-ai/gpt4all, pull requests merged in 2023-07, with the labels that each got.

#1209 Add AVX/AVX2 requirement to main README.md
  README.md
Labels: documentation

#1145 Python bindings: Custom callbacks, chat session improvement, refactoring
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/pyllmodel.py
Labels: python-bindings

#1112 GPU Inference Server
  gpt4all-api/.isort.cfg
  gpt4all-api/README.md
  gpt4all-api/docker-compose.gpu.yaml
  gpt4all-api/docker-compose.yaml
  gpt4all-api/gpt4all_api/app/api_v1/events.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/completions.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/engines.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/health.py
  gpt4all-api/gpt4all_api/app/api_v1/settings.py
  gpt4all-api/gpt4all_api/app/main.py
  gpt4all-api/gpt4all_api/app/tests/test_endpoints.py
  gpt4all-api/gpt4all_api/requirements.txt
  gpt4all-api/makefile
Labels: api

#1262 Fix models not getting downloaded in Python bindings
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
Labels: python-bindings

#1270 fix continue_config.yml
  .circleci/continue_config.yml
Labels: circleci
