Repository nomic-ai/gpt4all, pull requests merged in 2024-07, with the labels that each got.

#2529 Update gpt4all.py to fix grammar
  gpt4all-bindings/python/gpt4all/gpt4all.py
Labels: python-bindings

#2615 GPT4All Chat server API: add errors 405 Method Not Allowed
  gpt4all-chat/server.cpp
Labels: enhancement, chat, local-server

#2679 Improve LocalDocs view's error message
  gpt4all-chat/database.cpp
  gpt4all-chat/qml/LocalDocsView.qml
Labels: chat, local-docs

#2691 Show scrollbar in CollectionsDrawer as needed
  gpt4all-chat/qml/CollectionsDrawer.qml
Labels: chat, chat-ui-ux

#2717 added tutorial and images for it
  gpt4all-bindings/python/docs/assets/obsidian_adding_collection.png
  gpt4all-bindings/python/docs/assets/obsidian_docs.png
  gpt4all-bindings/python/docs/assets/obsidian_response.png
  gpt4all-bindings/python/docs/assets/obsidian_sources.png
  gpt4all-bindings/python/docs/assets/osbsidian_user_interaction.png
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
  gpt4all-bindings/python/mkdocs.yml
Labels: documentation

#2698 Chat readme: Updates features and removes wish-list & gpt-j
  gpt4all-chat/README.md
Labels: documentation

#2761 Fix LocalDocs file icons in sources display (mixed case)
  gpt4all-chat/qml/ChatView.qml
Labels: chat, chat-ui-ux

#2759 Models: Add Qwen2-1.5B-Instruct
  gpt4all-chat/metadata/models3.json
Labels: models, models.json
