Repository nomic-ai/gpt4all, pull requests merged in 2024-08, with the labels that each got.

#2719 CLI readme: Replace default model & link to wiki
  gpt4all-bindings/cli/README.md
Labels: documentation, cli

#2885 Update ChatView.qml to enable numerusform for "%n Source(s)"
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Labels: chat-ui-ux, translations

#2888 Update button for offline installer now points to releases.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/llm.cpp
Labels: enhancement, low-priority

#2916 Fix typo "predicatable"
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Labels: low-priority
