Repository nomic-ai/gpt4all, pull requests merged in 2024-03, with the labels that each got.

#2054 Models: Remove system prompt of Nous-Hermes-2-Mistral-7b-DPO
  gpt4all-chat/metadata/models3.json
Labels: models.json

#1640 feat: added api server port setting
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/server.cpp
Labels: chat

#2130 python: various fixes for GPT4All and Embed4All
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
  gpt4all-bindings/typescript/src/config.js
  gpt4all-chat/metadata/models3.json
Labels: python-bindings

#2129 python: documentation update and typing improvements
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/docs/gpt4all_cli.md
  gpt4all-bindings/python/docs/gpt4all_modal.md
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/docs/gpt4all_python_embedding.md
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
  gpt4all-bindings/python/mkdocs.yml
Labels: documentation, python-bindings
